<nz-card style="width:300px;" nzTitle="Card title">
  <form nz-form [formGroup]="loginForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzFor="email">E-mail</nz-form-label>
      <nz-form-control [nzSpan]="14"
                       nzErrorTip="Please input your e-mail address!">
        <input formControlName="mail" nz-input name="email" type="email" id="email"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="8" nzFor="password">Password</nz-form-label>
      <nz-form-control [nzSpan]="14"
                       nzErrorTip="Please input your password!">
        <input formControlName="password"  nz-input name="password" type="password" id="password"/>
      </nz-form-control>
    </nz-form-item>

    <div class="text-center">
      <button nz-button type="submit">
        Log in
      </button>
    </div>
  </form>
</nz-card>
