<form nz-form
      [formGroup]="characterForm"
      (ngSubmit)="createCharacter()">
  <nz-form-item>
    <nz-form-label [nzSpan]="8">Name</nz-form-label>
    <nz-form-control [nzSpan]="14"
                     [nzErrorTip]="nameErrorTemplate">
      <input formControlName="name" nz-input/>
    </nz-form-control>

    <ng-template #nameErrorTemplate>
      <ng-container *ngIf="characterForm.get('name')?.errors?.['required']">
        Please provide a name!
      </ng-container>
      <ng-container *ngIf="characterForm.get('name')?.errors?.['invalidFullName']">
        The name must consist of exactly two words!
      </ng-container>
    </ng-template>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="8">Image</nz-form-label>
    <nz-form-control [nzSpan]="14"
                     nzErrorTip="Please input an image path!">
      <input formControlName="image" nz-input placeholder="/assets/characters/mage.webp"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="8" nzRequired>Class</nz-form-label>
    <nz-form-control [nzSpan]="14" nzHasFeedback>
      <nz-select formControlName="characterClass">
        <nz-option [nzValue]="CharacterClass.WARRIOR" nzLabel="Warrior"></nz-option>
        <nz-option [nzValue]="CharacterClass.ROGUE" nzLabel="Rogue"></nz-option>
        <nz-option [nzValue]="CharacterClass.MAGE" nzLabel="Mage"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="8" nzRequired>Max HP</nz-form-label>
    <nz-form-control [nzSpan]="14"
                     [nzErrorTip]="maxHPErrorTemplate"
                     [nzValidateStatus]="
                      (characterForm.hasError('invalidMaxHpForClass') || !characterForm.get('maxHp')?.valid)
                        ? 'error'
                        : 'success'"
                     nzHasFeedback>
      <nz-input-number formControlName="maxHp"></nz-input-number>
    </nz-form-control>

    <ng-template #maxHPErrorTemplate>
      <ng-container *ngIf="characterForm.get('maxHp')?.errors?.['required']">
        Please provide the maximum HP!
      </ng-container>
      <ng-container *ngIf="characterForm.get('maxHp')?.errors?.['min']">
        The max HP must be at least 1!
      </ng-container>
      <ng-container *ngIf="characterForm.get('maxHp')?.errors?.['max']">
        The max HP must be less than 13!
      </ng-container>
      <ng-container *ngIf="characterForm.errors?.['invalidMaxHpForClass']">
        The max HP is incorrect for the selected class!
      </ng-container>
    </ng-template>
  </nz-form-item>

  <button nz-button type="submit">Save character</button>
</form>
